/* Color Theme Swatches in Hex */
$Spring1: #f2b84b;
$Spring2: #f2c288;
$Spring3: #f28f38;
$Spring4: #f2ceae;
$Spring5: #a65f37;

/* Color Theme Swatches in Hex */
$Design1: #020659;
$Design2: #3c4e73;
$Design3: #99f2c8;
$Design4: #def2c9;
$Design5: #f2e852;
