@import "./variables";

.card {
  flex: 10rem;
  margin: 1rem;
  width: 100%;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  background-color: $Design4;
  text-align: center;
  border-radius: 20px;
  &:hover {
    transition: 0.5s ease-in-out;
    box-shadow: 0.3rem 0.4rem 0.4rem $Design3;
  }

  .image {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100px;
    height: 100px;
    max-width: 100%;
    object-fit: contain;
    transition: 0.5s ease-in-out;
    text-align: center;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s ease-in-out;
    }
  }
  h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-style: italic;
  }
  ul {
    margin: 2rem 1.8rem;
    text-align: left;

    li {
      // list-style: none;
      margin: 0.1rem;
      padding: 0.1rem;
      font-weight: bold;
    }
  }
}
